package $package;

import ca.sfu.cq.narwhal.NarwhalServlet;
import org.apache.felix.scr.annotations.Component;
import org.apache.felix.scr.annotations.Properties;
import org.apache.felix.scr.annotations.Property;
import org.apache.felix.scr.annotations.Service;

@Component
@Service
@Properties({
	@Property(name = "sling.servlet.resourceTypes", value = "$resourceType"),
	@Property(name = "sling.servlet.extensions", value = "$extension"),
	@Property(name = "sling.servlet.methods", value = "$method")
})
public class ${servletName} extends NarwhalServlet {
	public Class controllerClass() { return ${controllerName}.class; }
}